<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission To Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>

<body>
    <div class="container">
        <div class="jumbotron text-center">
            <h1><b>Mission To Mars</b></h1>
            <a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h3><b>The Latest News from Mars</b></h3>
            <h4 class="heading">{{mars_data.news_title}}</h4>
            <p><a href="{{mars_data.feat_url}}" target="_blank">{{mars_data.news_p}}</a></p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h3><b>The Latest Image from Mars</b></h3>
            <hr>
            <img src={{mars_data.featured_image_url}} height=auto width=750px>
        </div>

        <div class="col-md-6">
                    <h3><b>Facts about Mars</b></h3>
                    <hr>
                    <table border = "1" class="striped" style="width:100%">{{mars_data.mars_facts | safe}}</table>
        </div>
    </div>

    <div class="row">
        <div class="page-header">
            <h1 class="text-center"><b>Mars Hemispheres</b></h1>
                {% for hemisphere in mars_data.hemisphere_image_url %}
                <div class="col-sm-6 col-md-6">
                    <div class="thumbnail">
                        <img src="{{hemisphere.img_url}}" height=auto width="75%">
                        <h3 class="text-center"><b>{{hemisphere.title}}</b></h3> 
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>




</body>

</html>